# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
terraform.tfvars.json

# Terraform local state & caches
**/.terraform/*
**/terraform.tfstate
**/terraform.tfstate.*
**/*.tfvars

# Module/package caches
*.zip
*.tgz

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# local libvirt images (binary, large)
envs/local-libvirt/images/*
!envs/local-libvirt/images/.gitkeep
